@import "./__variables";
@import "./__mixins";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 0.75rem;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--main-background);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border: 0.1875rem solid var(--main-background);
    border-radius: 0.625rem;

    @include respond-below(s) {
      border-width: 0.34375rem;
    }
  }

  &:focus {
    outline: 0.125rem dashed var(--secondary);
    outline-offset: 0.3125rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  padding-bottom: 2rem;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#app {
  min-height: 100vh;
  position: relative;

  .container {
    padding: 0 var(--container-padding-mobile);

    @include respond-above(s) {
      padding: 0 var(--container-padding-tablet);
    }
    @include respond-above(m) {
      padding: 0 var(--container-padding-desktop);
    }
  }
}

h1,
h2,
h3,
h4 {
  color: var(--primary-text-color);
  letter-spacing: 0.125rem;
  font-weight: 200;
}

h1,
h2 {
  letter-spacing: 0.1875rem;
}

h2 {
  &.section-header {
    position: relative;
    font-weight: 200;
    display: flex;
    align-items: center;
    gap: 2rem;

    &::before {
      content: "";
      width: 3.125rem;
      background: var(--secondary);
      height: 0.03125rem;
      top: 50%;
      transform: translateY(-50%);
      position: static;
      display: block;
    }
  }
}

p,
span,
a,
button {
  color: var(--primary-text-color);
  line-height: 1;
  letter-spacing: 0.125rem;
  font-size: 0.8125rem;
}

p {
  line-height: 1.5;
  opacity: 0.8;
}

span, a {
  &.company {
    color: var(--secondary);
    line-height: 1.5;
    font-size: 1rem;
    display: inline;
  }
}

a,
button {
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  position: relative;
  display: block;

  &.secondary-link {
      display: inline;
      text-decoration: underline;
      transition: all ease 0.3s;

      &:hover {
        color: var(--secondary);
      }
  }
}

li {
  list-style-type: none;
}

i.icon {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  color: var(--primary-text-color);
}

.Typewriter {
  display: inline-block;
  margin-left: clamp(0.125rem, 2vw, 0.75rem);

  .Typewriter__wrapper {
    font-size: var(--shrinking-font-size);
    color: var(--secondary);
  }

  .Typewriter__cursor {
    font-size: var(--shrinking-font-size);
  }
}

.icon-link {
  padding: remCalc(6px);
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--link-hover-color);
  }

  a {
    display: inline-flex;
  }
}

span.technique {
  margin-right: 0.6rem;
  display: inline-block;
  font-size: 0.625rem;
}
