@function remCalc($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

// trnasitions
@mixin simpleTransition($property: all, $sec: 0.3s, $effect: ease) {
  transition: $property $sec $effect;
}

@mixin show-element-transition($sec: 1s, $effect: ease) {
  transition: transform $sec $effect, opacity $sec $effect;
}

@mixin hide($property: all, $sec: 1s, $effect: ease) {
  visibility: hidden;
  opacity: 0;
  @include simpleTransition($property, $sec, $effect);
  transform: translateY(5vh);
  @content;
}

@mixin show {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  @content;
}

// /**
//  * Media Query Breakpoints
//  * These breakpoints are to be used in the External UI and Common UI to aid the
//  * creation of more tailored experiences for different screen sizes.
//  *
//  * Mixins are inspired by Glenn McCombs article on the subject of media queries
//  * for SCSS:
//  * https://glennmccomb.com/articles/useful-sass-scss-media-query-mixins-for-bootstrap/
//  */

// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  s: 768px,
  m: 992px,
  l: 1250px,
  xl: 1500px,
);

@mixin respond-above($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-between($lower, $upper) {
  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }

    // If one or both of the breakpoints don't exist.
  } @else {
    // If lower breakpoint is invalid.
    @if (map-has-key($breakpoints, $lower) == false) {
      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($breakpoints, $upper) == false) {
      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}
