@import "./_mixins";

.projects-item {
  position: relative;
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  min-height: remCalc(250px);
  border-radius: remCalc(4px);
  gap: remCalc(20px);
  @include simpleTransition;
  padding: 2rem 1.5rem;

  &:hover {
    transform: translateY(remCalc(-4px));
    cursor: pointer;
  }

  .projects-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      justify-self: flex-start;
      @include simpleTransition;

      &:hover {
        color: var(--secondary);
      }
    }

    i {
      color: var(--primary);
    }
  }

  .projects-item__body {
    margin-top: remCalc(20px);

    .projects-item__techniques {
      position: absolute;
      bottom: remCalc(10px);
      left: remCalc(20px);

      .technique__item {
        margin-right: 0.6rem;
        display: inline-block;
        font-size: 0.625rem;
        opacity: 0.5;
      }
    }
  }

  .projects-item__footer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    margin: 0 remCalc(6px) remCalc(6px) 0;
  }
}
