:root {
  --black: #000;
  --border-color: #2d2d2d;
  --box-shadow: rgba(45, 45, 45, 0.2) 0px 0px 5px 3px;
  --container-padding-mobile: 1.5rem;
  --container-padding-tablet: 6.25rem;
  --container-padding-desktop: 9.375rem;
  --font-family: "PT Sans", sans-serif;
  --link-hover-color: rgba(255, 255, 255, 0.12);
  --main-background: #121212;
  --max-width-left-placement: 43.75rem;
  --primary: #bb86fc;
  --secondary-background: #292929;
  --secondary: #64ffda;
  --secondary-active: rgba(100, 255, 218, 0.1);
  --shrinking-font-size: clamp(1.5rem, 7vw, 2.5rem);
  --white: #fff;
}
