@import "./_mixins";

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include section-spacing;
  @include hide {
    @include show-element-transition;
  }

  &.is-visible {
    @include show;
  }

  h2 {
    margin-bottom: 3rem;
    max-width: var(--max-width-left-placement);
    width: 100%;
  }

  .work__summary {
    max-width: var(--max-width-left-placement);
    width: 100%;

    .menu {
      width: 100%;
    }
  }
}
